* {
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  color: #333;
}

.section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.header {
  font-size: 26px;
  margin-bottom: 50px;
}
.header span {
  display: block;
}

.forma {
  height: 420px;
  border: 5px solid rgb(40, 40, 184);
  text-align: center;
  padding: 50px 10px;
  display: block;
}
.forma input {
  width: 352px;
  height: 59px;
  margin-top: 20px;
  font-size: 26px;
  padding: 10px;
}

.forma p {
  font-size: 24px;
  font-weight: 900;
}

.btn {
  margin-top: 30px;
  width: 352px;
  height: 59px;
  border-radius: 0;
  font-size: 26px;
  font-weight: 900;
}

img {
  width: 100px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  margin-bottom: 50px;
}

p {
  font-size: 18px;
  font-weight: 600;
}
